* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 310px) {
    #root {
        min-width: 310px;
        overflow: scroll;
    }
}
