/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Noto+Sans&family=Orienta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  background: #212324;
}

* {
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: "Carrois Gothic SC", sans-serif;
  font-family: "Noto Sans", sans-serif; */
  font-family: "Orienta", sans-serif;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
h1, h2, h3 {
  /* font-family: "Carrois Gothic SC", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Quicksand";
}

@media screen and (max-width: 310px) {
  #root {
    min-width: 310px;
    overflow: scroll;
  }
}
